/* index.css:
Style sheet for index.html. Ideally you would only put
ID styles and .html-specific classes here.
*/

#about_article {
    max-width: 60%;
    margin-top: 10px;
}

#about_article p{
    text-align: center;
    border: 1px #DCDCDC;
    border-style: none none solid none;
    padding: 5px 0px 5px 0px; /* top right bottom left */
}