/* index.css:
Style sheet for index.html. Ideally you would only put
ID styles and .html-specific classes here.
*/

#about_article {
    max-width: 60%;
    margin-top: 10px;
}

#about_article p{
    text-align: center;
}