#button_container {
    min-width: 70%;
    display: flex;
    flex-wrap: nowrap;
    
    justify-content: space-around;
    align-items: center;
}

#nav_ddr {
    font-size: 2em;
    box-shadow: 0 0 8px 0 #000;
}